openapi: 3.0.3
info:
  title: TriDChess Player Queue API
  description: APIs for Tri D Chess game related to queueing for a game, dequeueing and creating private queues.
  version: 1.0.0
servers:
  - url: https://tridchess.com/api/v1
tags:
  - name: Enqueue
    description: APIs for enqueueing, i.e., a player entering a queue
  - name: Dequeue
    description: APIs for dequeueing
  - name: Create Queue
    description: APIs for managing queue creation
paths:
  /enqueue:
    get:
      tags:
        - Enqueue
      summary: Enqueue a player on the public player queue
      description: Will insert a new player into the public queue. When finding another queued player, the service will create an active game, and send a request to signal this towards Game Server. The UI in turn will change for both players and render the boards and pieces. Players can only be queued on a single queue at a time.
      operationId: enqueue
      parameters:
        - in: query
          name: playerId
          schema:
            type: string
          description: ID of the player that enters the public queue
      responses:
        '200':
          description: Enqueued successfully
        '400':
          description: Invalid credentials
        '403':
          description: Black-listed or unwanted client
        '500':
          description: Internal server error
  /private-enqueue:
    get:
      tags:
        - Enqueue
      summary: Queues a player in a private queue
      description: Given a correct queue password, the API will queue the player in a private queue. It is assumed that at least one player exists in that private queue already (its creator), and thus the game begins when the calling player (second player of the game) is enqueued.
      parameters:
        - in: query
          name: password
          schema:
            type: string
          description: Password for the queue
        - in: query
          name: playerId
          schema:
            type: string
          description: ID of the player that creates or wishes to enter the private queue
      responses:
        '200':
          description: Enqueued successfully
        '400':
          description: Invalid credentials
        '403':
          description: Black-listed or unwanted client
        '500':
          description: Internal server error
  /dequeue:
    get:
      tags:
        - Dequeue
      summary: Dequeues a player from whatever queue he is in
      description: Dequeues a player from whatever queue he is in. Player will exit the single queue he is in, be it private or public
      parameters:
        - in: query
          name: playerId
          schema:
            type: string
          description: ID of the player
      responses:
        '200':
          description: Dequeued successfully
        '400':
          description: Invalid credentials
        '403':
          description: Black-listed or unwanted client
        '404':
          description: User not in any queue
        '500':
          description: Internal server error
  /create-private-queue:
    get:
      tags:
        - Create Queue
      summary: Creates a queue with a private password that can be shared by the creator
      description: Creates a private queue. The API will respond with a password that can be used to access the queue by other players in the "private-enqueue" API.
      responses:
        '200':
          description: Dequeued successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateQueueResponse'
        '400':
          description: Invalid credentials
        '403':
          description: Black-listed or unwanted client
        '404':
          description: User not in any queue
        '500':
          description: Internal server error
components:
  schemas:
    PrivateQueueResponse:
      type: object
      required:
        - password
      properties:
        password:
          type: string
      xml:
        name: enqueueResponse
